.select_languages {
  border: none;
  height: fit-content;
  position: relative;
  top: 1.2rem;
  background-color: #fff1da;
  font-size: 17px;
}
.select_options {
  border: none;
}

.decore {
  position: absolute;
  height: 100%;
  width: 60%;
  right: -12%;
  z-index: -1;
}

.navbar {
  display: flex;
}

.logo {
  margin-left: 10%;
  margin-top: 5%;
}

.goto_links {
  display: flex;
  position: relative;
  top: 3.1rem;
  left: 12%;
  min-width: 65%;
  justify-content: space-evenly;
  font-family: Google Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
}

/* .links {
  margin-right: 3rem;
} */
