.select_languages {
  border: none;
  height: fit-content;
  position: relative;
  top: 1.2rem;
  background-color: #fff1da;
  font-size: 17px;
}
.select_options {
  border: none;
}

.sign {
  border: 1px solid #212832;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 14px 22px;
  position: relative;
  bottom: 1rem;
}

.decore {
  position: absolute;
  width: 46%;
  right: 0%;
  z-index: -1;
}

.navbar {
  display: flex;
  padding-top: 3rem;
  margin-bottom: 7rem;
}

.logo {
  margin-left: 9rem;
  margin-top: 3.1rem;
}

.goto_links {
  display: flex;
  position: relative;
  top: 3.1rem;
  left: 15%;
  min-width: 65%;
  justify-content: space-evenly;
  font-family: Google Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
}

/* .links {
  margin-right: 3rem;
} */

.head1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #df6951;
}

.head2 {
  font-family: Volkhov;
  font-style: normal;
  font-weight: bold;
  font-size: 84px;
  line-height: 89px;
  letter-spacing: -0.04em;
  color: #181e4b;
  margin: 0;
  margin-right: 5rem;
}

.head3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #5e6282;
  margin-top: 2rem;
  padding-right: 10rem;
}

.section1 {
  display: flex;
  margin: 4rem 0;
}

.image {
  width: 150%;
  position: relative;
  right: 60%;
  margin-top: 1rem;
}

.section1_write {
  padding: 0px 10%;
}

.decorBig {
  margin: 1rem 0;
}

.lineDec {
  z-index: -1;
  position: absolute;
  top: 24rem;
  left: 25%;
}

.findButton {
  background: #f1a501;
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 10px;
  font-family: Google Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  border: none;
  padding: 18px 26px;
}

.playButton {
  position: relative;
  top: 4rem;
}

.play {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #686d77;
}

.decButtons {
  position: relative;
  bottom: 2rem;
}

.category {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  text-align: center;

  /* TEXT CLR */

  color: #5e6282;
}

.categoryPitch {
  font-family: Volkhov;
  margin-top: 1rem;

  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 64px;
  /* identical to box height */

  text-align: center;
  text-transform: capitalize;

  /* 3rd */

  color: #14183e;
}

.category4 {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 8rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.category2 {
  display: flex;
}

.category1 {
  padding: 6rem 0rem;
  border-radius: 36px;
  margin: 0 1rem;
  transition-duration: 0.5s;
  background-color: white;
}

.categoryText {
  text-align: center;
  padding: 0 2rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  /* TEXT CLR */

  color: #5e6282;
}

.categoryTitle {
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;

  /* text heading color */

  color: #1e1d4c;
}

.categoryImage {
  position: relative;
  left: 35%;
}

.category1:hover {
  transform: scale(0.9);
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.card {
  position: absolute;
  z-index: -1;
}

.cardContent {
  position: relative;
  bottom: 20rem;
  background-color: white;
  left: 5rem;
  max-width: 19.7rem;
  padding: 1rem 0px;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
}

.content1 {
  display: flex;
  justify-content: space-around;
}

.content2 {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.location {
  margin: 1rem;
}

.reserved {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  /* or 17px */

  /* TEXT CLR */

  color: #5e6282;
  text-align: center;
  margin: 5rem;
}

.Destination3 {
  display: flex;
  justify-content: center;
}

.Destination2 {
  display: flex;
}

.Destination1 {
  max-height: 35rem;
}

.cardDecore {
  height: 15rem;
  position: absolute;
  bottom: 3rem;
  left: 17rem;
  z-index: -1;
}

.steps {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.stepsText {
  padding: 0 8rem;
}

.stepsTextBar {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.stepsTextImage {
  margin: 1rem;
}

.subscribe {
  background: #dfd7f942;
  border-radius: 129px 30px 20px 20px;
  padding: 5rem 5rem;
  margin: 2rem 7rem;
}

.subscribeText {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 54px;
  /* or 164% */

  text-align: center;

  /* TEXT CLR */

  color: #5e6282;
  margin: 3rem;
}

.subscribeBar {
  display: flex;
  justify-content: center;
}

.mail {
  border: none;
  border: none;
  border-radius: 10px;
  min-width: 230px;
  padding: 1.5rem 6rem;
  z-index: 99;
}

.submit {
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  border-radius: 10px;
  border: none;
  padding: 1rem 3rem;
  margin-left: 2rem;
  color: white;
}

.mailIcon {
  position: relative;
  top: 1.5rem;
  right: 35rem;
  color: #39425d;
  z-index: 99;
}

.subsBox {
  max-height: 35rem;
}

.subsDecor1 {
  position: absolute;
  right: 7rem;
  z-index: 99;
}

.subsDecor2 {
  position: absolute;
  right: 7rem;
  opacity: 0.2;
}

.subsDecor3 {
  position: relative;
  bottom: 24.5rem;
  left: 4rem;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.footertext {
  display: flex;
}

.logoName {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 66px;
  margin: 1rem;
  /* identical to box height */

  /* 1st */

  color: #181e4b;
}

.logoText {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 124.5%;

  /* or 16px */

  /* TEXT CLR */

  color: #5e6282;
}

.boldFooter {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 124.5%;
  padding: 1rem 2rem;
  /* or 26px */

  /* black */

  color: #080809;
}

.normalFooter {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  padding-left: 2rem;
  font-size: 18px;
  line-height: 124.5%;
  /* or 22px */

  /* TEXT CLR */

  color: #5e6282;
}

.cardDec1 {
  display: none;
}

.cardDec2 {
  display: none;
}

.cardDec3 {
  display: none;
}

.cardDec {
  display: none;
}

.cat:hover .cardDec {
  display: block;
  position: relative;
  bottom: 4rem;
  right: 1rem;
  z-index: -1;
}

.cat1:hover .cardDec1 {
  display: block;
  position: relative;
  bottom: 4rem;
  right: 1rem;
  z-index: -1;
}

.cat2:hover .cardDec2 {
  display: block;
  position: relative;
  bottom: 4rem;
  right: 1rem;
  z-index: -1;
}

.cat3:hover .cardDec3 {
  display: block;
  position: relative;
  bottom: 4rem;
  right: 1rem;
  z-index: -1;
}

.text1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  /* TEXT CLR */

  color: #5e6282;
}

.text2 {
  font-family: Volkhov;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 64px;
  text-transform: capitalize;
  margin: 1rem 0;

  /* 3rd */

  color: #14183e;
}

.infoTitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 124.5%;
  /* identical to box height, or 20px */

  /* TEXT CLR */

  color: #5e6282;
}

.info {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 124.5%;
  /* or 20px */

  /* TEXT CLR */

  color: #5e6282;
}

.left {
  position: relative;
  left: 8rem;
}
.right {
  position: relative;
  right: 8rem;
}

.cat2,
.cat3 {
  padding-top: 2rem;
}

@media (min-width: 1100px) and (max-width: 1200px) {
  .category1 {
    padding: 3rem 0rem;
  }
  .text2 {
    font-size: 41px;
  }
  .stepsImg {
    width: 34rem;
  }
  .subscribe {
    padding: 3rem 5rem;
  }
}

@media (min-width: 967px) and (max-width: 1100px) {
  .head2 {
    font-size: 54px;
    line-height: 60px;
  }
  .lineDec {
    top: 22.5rem;
    left: 20%;
  }
  .image {
    right: 50%;
  }
  .logo {
    margin-left: 7rem;
  }
  .head3 {
    font-size: 16px;
    line-height: 25px;
  }
  .category1 {
    padding: 1rem 0;
  }
  .destImg {
    width: 25rem;
  }
  .cardContent {
    bottom: 18rem;
    left: 4rem;
    max-width: 16.9rem;
  }
  .left {
    left: 6rem;
  }
  .right {
    right: 6rem;
  }
  .cardDecore {
    height: 12rem;
    left: 15rem;
  }
  .goto_links {
    left: 12%;
  }
  .stepsImg {
    width: 25rem;
  }
  .stepsTextBar {
    margin: 1rem 0;
  }
  .text2 {
    font-size: 32px;
    line-height: 40px;
  }
  .mail {
    padding: 1.5rem 4rem;
    min-width: 196px;
  }
  .mailIcon {
    right: 30rem;
  }
  .subscribe {
    padding: 3rem 5rem;
    margin: 2rem 4rem;
  }
  .subsDecor1 {
    right: 4rem;
  }
  .subsDecor2 {
    right: 4rem;
  }
  .subsBox {
    max-height: 30rem;
    margin-top: 6rem;
  }
  .boldFooter {
    padding: 1rem 0.5rem;
  }
  .normalFooter {
    padding-left: 0.5rem;
  }
}

@media (min-width: 576px) and (max-width: 967px) {
  .navbar {
    flex-direction: column;
  }
  .footertext {
    margin: 2rem 0;
  }
  .logoBox {
    display: flex;
    justify-content: center;
  }
  .goto_links {
    top: 0;
    left: 0;
    font-size: 20px;
    margin: 3rem 0;
  }
  .logoDiv {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }

  .cardContent {
    bottom: 19.8rem;
  }
  .select_languages {
    top: 1.2rem;
    font-size: 20px;
  }
  .section1 {
    flex-direction: column-reverse;
  }
  .decorBig {
    display: flex;
    justify-content: center;
  }
  .image {
    right: 0;
    width: 75%;
  }
  .head1 {
    text-align: center;
  }
  .head2 {
    line-height: normal;
    font-size: 48px;
    text-align: center;
    margin-right: 0;
  }
  .head3 {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    padding-right: 0;
  }
  .decButtons {
    left: 5rem;
  }
  .category4 {
    flex-direction: column;
    margin-bottom: 0;
  }
  .category2 {
    margin-bottom: 3rem;
  }
  .category1 {
    padding: 1rem 0;
  }
  .Destination3 {
    flex-direction: column;
    align-items: center;
  }
  .Destination2 {
    flex-direction: column;
    align-items: center;
  }
  .right {
    right: 0;
  }
  .left {
    left: 0;
  }
  .steps {
    flex-direction: column-reverse;
  }
  .stepsText {
    padding: 0 7rem;
  }
  .subsDecor2,
  .subsDecor3 {
    display: none;
  }
  .subscribe {
    padding: 5rem 4rem;
    margin: 2rem 4rem;
  }
  .subscribeText {
    font-size: 20px;
    line-height: 20px;
    margin: 2rem 1rem;
  }
  .subscribeBar {
    flex-direction: column;
    align-items: center;
  }
  .sign {
    padding: 6px 9px;
    bottom: 0.5rem;
  }
  .mail {
    padding: 1rem 3rem;
    margin: 2rem 0rem;
  }
  .submit {
    max-width: 10rem;
  }
  .mailIcon {
    display: none;
  }
  .subsDecor1 {
    right: 4rem;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .lineDec {
    display: none;
  }
  .logo {
    margin-left: 0;
  }
  .cat {
    padding-top: 2rem;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }
  .cat {
    padding-top: 2rem;
  }

  .logo {
    margin-left: 0;
  }
  .footertext {
    margin: 2rem 0;
  }
  .sign {
    padding: 6px 9px;
    bottom: 0.5rem;
  }
  .logoBox {
    display: flex;
    justify-content: center;
  }
  .select_languages {
    top: 1rem;
    font-size: 12px;
    background-color: white;
  }
  .logoDiv {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
  .goto_links {
    top: 0;
    left: 0;
    font-size: 12px;
    margin: 2rem 0;
  }
  .section1 {
    flex-direction: column-reverse;
  }
  .cardContent {
    padding: 1.2rem 0;
  }
  .logo {
    margin-left: 0;
  }
  .image {
    right: 0;
    bottom: 4rem;
    width: 75%;
  }
  .head1 {
    text-align: center;
    font-size: 12px;
  }
  .head2 {
    line-height: normal;
    font-size: 32px;
    text-align: center;
    margin-right: 0;
  }
  .head3 {
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    padding-right: 0;
  }
  .decButtons {
    left: 1rem;
    margin: 2rem 0;
  }
  .findButton {
    font-size: 12px;
    padding: 10px 12px;
  }
  .decorBig {
    display: flex;
    justify-content: center;
  }
  .decore {
    width: 40%;
  }

  .play {
    font-size: 13px;
  }
  .categoryPitch {
    font-size: 32px;
  }
  .category4 {
    flex-direction: column;
    margin-bottom: 0;
  }
  .category2 {
    flex-direction: column;
    align-items: center;
  }
  .category1 {
    padding: 1rem 0;
  }
  .cat,
  .cat1,
  .cat2,
  .cat3 {
    margin-bottom: 3rem;
  }
  .Destination3 {
    flex-direction: column;
    align-items: center;
  }
  .Destination2 {
    flex-direction: column;
    align-items: center;
  }
  .right {
    right: 0;
  }
  .left {
    left: 0;
  }
  .cardDecore {
    display: none;
  }
  .stepsImg {
    width: 24rem;
  }
  .text2 {
    line-height: normal;
    font-size: 24px;
  }
  .steps {
    flex-direction: column-reverse;
  }
  .stepsText {
    padding: 0 4rem;
  }
  .subsDecor2,
  .subsDecor3 {
    display: none;
  }
  .subscribe {
    padding: 2rem 2rem;
    margin: 2rem 1rem;
  }
  .subscribeText {
    font-size: 20px;
    line-height: 20px;
    margin: 3rem 1rem;
  }
  .subscribeBar {
    flex-direction: column;
    align-items: center;
  }
  .mail {
    padding: 1rem 1rem;
    margin: 2rem 0rem;
  }
  .submit {
    max-width: 10rem;
    margin-left: 0;
    margin-bottom: 2rem;
  }
  .mailIcon {
    display: none;
  }
  .subsDecor1 {
    right: 1rem;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .lineDec {
    display: none;
  }
}
